.d-grid.gap-3
   


    .card
        .card-header
            if post
                .panel-title Share
            else
                .panel-title Subscribe | Share

        .card-body
            if tag
                - var tagg = tag;
                a.h2(href='/rss/tag/'+tag class="card-link")
                    i.float-left(class="fa fa-rss" aria-hidden="true")
                a.h2(href='mailto:?subject=Arka Maitra : ' + tag + '&body=Arka Maitra - Blog : https://arkam.me' + tagURL(tag) class="card-link")
                    i(class="fa fa-envelope" aria-hidden="true")
            else
                if post
                    a.h2(class="card-link" href='mailto:?subject=Arka Maitra'+ '&body=Arka Maitra - Blog : https://arkam.me' + post.url)
                        i(class="fa fa-envelope" aria-hidden="true")
                else
                    a.h2(class="card-link" href='/rss')
                        i.float-left(class="fa fa-rss" aria-hidden="true")
                    a.h2(class="card-link" href='mailto:?subject=Arka Maitra'+ '&body=Arka Maitra - Blog : https://arkam.me/blog')
                        i(class="fa fa-envelope" aria-hidden="true")

    .card.panel-default
        .card-header
            .panel-title Tags
        .card-body
            each tag in getTags()
                a(class="card-link" href=tagURL(tag)) #{tag}
